<div>
  <div>
    <h5 class="fw-bold">Hãng xe</h5>
    <img src="assets/image/Line%207.png" width="100%">
    <ul class="list-unstyled">
      <li class="mt-2">Dibao</li>
      <li class="mt-2">Giant</li>
      <li class="mt-2">BeforeAll</li>
      <li class="mt-2">Yadea</li>
      <li class="mt-2">Việt thái</li>
      <li class="mt-2">Vin</li>
    </ul>
  </div>
  <div class="mt-5">
    <h5 class="fw-bold">Loại xe</h5>
    <img src="assets/image/Line%207.png" width="100%">
    <ul class="list-unstyled">
      <li class="mt-2">Xe đạp điện</li>
      <li class="mt-2">Xe máy điện</li>
      <li class="mt-2">Xe máy 50cc</li>
      <li class="mt-2">Xe ga 50cc</li>
      <li class="mt-2">Xe đạp thể thao</li>
      <li class="mt-2">Xe đạp học sinh</li>
    </ul>
  </div>
  <div class="mt-5">
    <h5 class="fw-bold">Giá xe</h5>
    <img src="assets/image/Line%207.png" width="100%">
    <ul class="list-unstyled">
      <li class="mt-2">Dưới 10 triệu</li>
      <li class="mt-2">10 triệu - 12 triệu</li>
      <li class="mt-2">12 triệu - 15 triệu</li>
      <li class="mt-2">15 triệu - 17 triệu</li>
      <li class="mt-2">Trên 17 triệu</li>
    </ul>
  </div>
</div>
