<div>
  <div>
    <h5 class="fw-bold">Hãng xe</h5>
    <img src="assets/image/Line%207.png" width="100%">
    <ul class="list-unstyled" *ngFor="let categories of listProductCategories">
      <li class="mt-2">
        <a href="#" class="text-decoration-none text-dark">
          {{categories.productCategoryName}}
        </a>
      </li>
    </ul>
  </div>
  <div class="mt-5">
    <h5 class="fw-bold">Loại xe</h5>
    <img src="assets/image/Line%207.png" width="100%">
    <ul class="list-unstyled" *ngFor="let productType of listProductType">
      <li class="mt-2">
        <a routerLink="/product" class="text-decoration-none text-dark" (click)="chooseProductType(productType.productTypeId)">
          {{productType.productTypeName}}
        </a>
      </li>
    </ul>
  </div>
  <div class="mt-5">
    <h5 class="fw-bold">Giá xe</h5>
    <img src="assets/image/Line%207.png" width="100%">
    <ul class="list-unstyled">
      <li class="mt-2">Dưới 10 triệu</li>
      <li class="mt-2">10 triệu - 12 triệu</li>
      <li class="mt-2">12 triệu - 15 triệu</li>
      <li class="mt-2">15 triệu - 17 triệu</li>
      <li class="mt-2">Trên 17 triệu</li>
    </ul>
  </div>
</div>
