<div class="header container py-1">
    <div class="d-flex justify-content-end h-100">
      <ul class="d-flex list-unstyled my-auto justify-content-end w-100 w-xl-75">
        <li class="my-auto">
          |
          <a class="mx-2" href="#">Trang chủ</a>
        </li>
        <li class="my-auto">
          |
          <a class="mx-2" href="#">Cửa hàng</a>
        </li>
        <li class="my-auto">
          |
          <a class="mx-2" href="#">Tin tức</a>
        </li>
        <li class="my-auto">
          |
          <a class="mx-2" href="#">Trả góp Home Credit</a>
        </li>
        <li class="my-auto">
          |
          <a class="mx-2" href="#">Trả góp qua thẻ tín dụng</a>
        </li>
        <li class="my-auto">
          |
          <a class="mx-2" href="#">Liên hệ</a>
          |
        </li>
      </ul>
    </div>
</div>
