<div class="container">
  <div class="outer-main d-flex align-items-center d-inline h-100 w-100">
    <div class="text-center w-100 border-main p-5">
      <h1 class="text-main">Trạng thái đơn hàng</h1>
      <img src="/assets/image/complete_logo.png" width="50">
      <div class="mt-4">
        <h6>Đơn hàng của bạn đã thành công, vui lòng chờ điện thoại để nhân viên của chúng tôi sẽ gọi đến bạn ngay bây giờ</h6>
        <h6>Xin cảm ơn !</h6>
      </div>
      <div class="mt-3">
        <button class="btn-main py-2 px-4" [routerLink]="['/home']" >Tiếp tục mua hàng</button>
      </div>
    </div>
  </div>
</div>
