nav{
  background-color: var(--main-color) !important;
  & ul{
    background-color: var(--main-color);
    & li {
      color: var(--white);
      font-weight: bold;
      & .icon-size-medium {
        font-size: 1.8em;
      }
    }
  }
  & a{
    text-decoration: none;
    color: black;
  }
}

.sticky{
  width: 100%;
  height: 55px;
  position: fixed;
  top: 0;
  z-index: 100;
}

.form-group .form-control {
  padding-left: 2.375rem;
}
.form-group{
  position:relative;
  & input{
    border-radius: 10px;
  }
}
.form-group .form-control-icon {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
  right:0px;
  top: 0px;
  color: var(--main-color);
}
.fa-cart-arrow-down{
  color: var(--white);
  font-size: 2rem;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown>.dropdown-toggle:active {
  pointer-events: none;
}
.dropdown-menu{
  margin-top: 10px;
}