<!--<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black">-->
<!--  <div class="container">-->
<!--    <a class="navbar-brand" href="#">-->
<!--      <img src="../../../../assets/image/image1.png" width="200" height="40" >-->
<!--    </a>-->
<!--    <button-->
<!--      class="navbar-toggler"-->
<!--      type="button"-->
<!--      data-toggle="collapse"-->
<!--      data-target="#navbarNavDropdown"-->
<!--      aria-controls="navbarNavDropdown"-->
<!--      aria-expanded="false"-->
<!--      aria-label="Toggle navigation"-->
<!--      data-spy="affix"-->
<!--      data-offset-top="700"-->
<!--    >-->
<!--      <span class="navbar-toggler-icon">-->
<!--        <i class="fa fa-navicon" style="color:#fff; font-size:28px;"></i>-->
<!--      </span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarNavDropdown">-->
<!--      <ul class="icon-logo navbar-nav d-sm-flex mx-xl-2 col-lg-2 col-xl-3 col-xxl-1">-->
<!--        <li class="nav-item active">-->
<!--          <a class="nav-link text-light" href="https://www.instagram.com/thaihoc2001/">-->
<!--            <i class="fa fa-instagram" aria-hidden="true"></i>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="nav-item active">-->
<!--          <a class="nav-link text-light" href="https://www.facebook.com/thaihoc.nguyen.5473/">-->
<!--            <i class="fa fa-facebook" aria-hidden="true"></i>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="nav-item active">-->
<!--          <a class="nav-link text-light" href="https://github.com/thaihoc2001">-->
<!--            <i class="fa fa-github" aria-hidden="true"></i>-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <div class="col-9 d-flex">-->
<!--        <form class="col-5 mx-2">-->
<!--          <div class="input-group">-->
<!--            <input type="text" class="form-control" placeholder="Bạn muốn tìm gì ?">-->
<!--            <div class="input-group-btn">-->
<!--              <button class="btn btn-light" type="submit">-->
<!--                <i class="fas fa-search"></i>-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </form>-->
<!--        <button class="btn btn-dark" style="background-color: black; border: 1px solid white">-->
<!--          <i class="fas fa-cart-plus">-->
<!--            <span class="mx-2">Giỏ hàng</span>-->
<!--          </i>-->
<!--        </button>-->
<!--      </div>-->
<!--      <ul class="navbar-nav col-lg-9 col-xl-9 col-xxl-3">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link text-light" href="/home">Đăng ký</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link text-light" href="/contact-work">Đăng nhập</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
<div class="header container">
    <div class="d-flex justify-content-end h-100">
      <ul class="d-flex list-unstyled my-auto">
        <li class="my-auto mx-4">
          <i class="fas fa-map-marker-alt"></i>
          <span class="mx-2">146 Võ Thị Sáu</span>
        </li>
        <li class="my-auto mx-4">
          <i class="fas fa-phone-alt"></i>
          <span class="mx-2">08.6666.8881</span>
        </li>
        <li class="my-auto mx-4">
          <i class="fas fa-headset"></i>
          <span class="mx-2">0982.322.789</span>
        </li>
      </ul>
    </div>
</div>
