<nav class="navbar navbar-expand-lg navbar-dark py-2">
  <div class="container-lg p-0">
    <a class="navbar-brand" href="/home">
      <img src="assets/image/logo-vuong-k-nen.PNG" width="150" >
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
      data-spy="affix"
      data-offset-top="700"
    >
      <span class="navbar-toggler-icon">
        <i class="fa fa-navicon" style="color:#fff; font-size:28px;"></i>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <!-- <ul class="mx-3 icon-logo navbar-nav col-12 col-lg-8 row text-lg-center h-100">
        <li class="col-1"></li>
        <li class="nav-item active col-4 col-lg-2 p-0 dropdown h-100" (click)="toProduct()">
          <a href="/product" class="nav-link text-light fw-bold dropdown-toggle" >
            Sản phẩm
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width: 40vw;">
            <div class="row ">
              <div class="col-12 col-lg-3 mt-2">
                <a class="dropdown-item" href="#">
                  <h6 class="fw-bold">Xe ga 50cc</h6>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Yadea</a>
                <a class="dropdown-item" href="#">Beforall</a>
                <a class="dropdown-item" href="#">MSI</a>
              </div>
              <div class="col-12 col-lg-3 mt-2">
                <a class="dropdown-item" href="#">
                  <h6 class="fw-bold">Xe ga 50cc</h6>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Yadea</a>
                <a class="dropdown-item" href="#">Beforall</a>
                <a class="dropdown-item" href="#">MSI</a>
              </div>
              <div class="col-12 col-lg-3 mt-2">
                <a class="dropdown-item" href="#">
                  <h6 class="fw-bold">Xe ga 50cc</h6>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Yadea</a>
                <a class="dropdown-item" href="#">Beforall</a>
                <a class="dropdown-item" href="#">MSI</a>
              </div>
              <div class="col-12 col-lg-3 mt-2">
                <a class="dropdown-item" href="#">
                  <h6 class="fw-bold">Xe ga 50cc</h6>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Yadea</a>
                <a class="dropdown-item" href="#">Beforall</a>
                <a class="dropdown-item" href="#">MSI</a>
              </div>
              <div class="col-12 col-lg-3 mt-2">
                <a class="dropdown-item" href="#">
                  <h6 class="fw-bold">Xe ga 50cc</h6>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Yadea</a>
                <a class="dropdown-item" href="#">Beforall</a>
                <a class="dropdown-item" href="#">MSI</a>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item active col-4 col-lg-2 p-0">
          <a class="nav-link text-light fw-bold" href="#">
            Khuyến mãi
          </a>
        </li>
        <li class="nav-item active col-4 col-lg-2 p-0">
          <a class="nav-link text-light" href="#">
            Dịch vụ
          </a>
        </li>
        <li class="nav-item active col-4 col-lg-2 p-0">
          <a class="nav-link text-light" href="#">
            Cửa hàng
          </a>
        </li>
        <li class="nav-item active col-4 col-lg-2 p-0">
          <a class="nav-link text-light" href="#">
            Tin tức
          </a>
        </li>
      </ul> -->
      <ul class="mx-5 icon-logo navbar-nav col-12 row justify-content-end">
        <li class="nav-item active col-5 p-0">
          <div class="nav-link text-light fw-bold me-5">
            <div class="container-lg d-none d-lg-block">
              <div class="form-group">
                <i class="fa fa-search form-control-icon"></i>
                <input type="text" class="form-control pe-5" placeholder="Tìm kiếm sản phẩm">
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item active col-2 p-0 ms-4 my-auto">
          <div class="d-flex">
            <i class="icon-size-medium fas fa-map-marked my-auto"></i>
            <div class="ms-3">
              <h5 class="fw-bold my-auto">Showroom</h5>
              <a class="text-light fw-light my-auto" href="#">
                Xem bản đồ
              </a>
            </div>
          </div>
        </li> 
        <li class="nav-item active col-2 p-0 my-auto">
          <div class="d-flex">
            <i class="icon-size-medium fas fa-headset my-auto"></i>
            <div class="ms-3">
              <h5 class="fw-bold my-auto">Hotline 1</h5>
              <a class="text-light fw-light my-auto" href="#">
                0903.266.425
              </a>
            </div>
          </div>
        </li> 
        <li class="nav-item active col-2 p-0 my-auto">
          <div class="d-flex">
            <i class="icon-size-medium fas fa-phone-alt my-auto"></i>
            <div class="ms-3">
              <h5 class="fw-bold my-auto">Hotline 2</h5>
              <a class="text-light fw-light my-auto" href="#">
                08.6666.8881
              </a>
            </div>
          </div>
        </li> 
      </ul>
    </div>
</div>
