<div class="header container">
    <div class="d-flex justify-content-end h-100">
      <ul class="d-flex list-unstyled my-auto">
        <li class="my-auto mx-4">
          <i class="fas fa-map-marker-alt"></i>
          <span class="mx-2">134 Võ Thị Sáu</span>
        </li>
        <li class="my-auto mx-4">
          <i class="fas fa-phone-alt"></i>
          <span class="mx-2">08.6666.8881</span>
        </li>
        <li class="my-auto mx-4">
          <i class="fas fa-headset"></i>
          <span class="mx-2">0982.322.789</span>
        </li>
      </ul>
    </div>
</div>
