<div class="py-4 px-3 my-3 bg-light d-flex">
  <button class="btn btn-dark me-4" routerLink="/admin/product-manage/summary">Danh sách sản phẩm</button>
  <button class="btn btn-dark me-4" routerLink="/admin/product-manage/create">Thêm sản phẩm</button>
  <button class="btn btn-dark me-4" routerLink="/admin/product-manage/summary-product-type">Danh sách loại sản phẩm</button>
  <button class="btn btn-dark me-4" routerLink="/admin/product-manage/create-product-type">Thêm loại sản phẩm</button>
  <button class="btn btn-dark me-4" routerLink="/admin/product-manage/summary-category">Danh sách hãng sản xuất</button>
  <button class="btn btn-dark me-4" routerLink="/admin/product-manage/create-category">Thêm hãng sản xuất</button>
</div>
