<div class="py-4 px-3 my-3 bg-light d-flex">
  <button class="btn btn-dark me-4" routerLink="/admin/product-manage/summary">Danh sách sản phẩm</button>
  <button class="btn btn-dark me-4" routerLink="/admin/product-manage/create">Thêm sản phẩm</button>
  <button class="btn btn-dark me-4" routerLink="/admin/product-manage/summary">Danh sách loại sản phẩm</button>
  <button class="btn btn-dark me-4" routerLink="/admin/product-manage/summary">Thêm loại sản phẩm</button>
  <button class="btn btn-dark me-4" routerLink="/admin/product-manage/summary">Danh sách hãng sản xuất</button>
  <button class="btn btn-dark me-4" routerLink="/admin/product-manage/summary">Thêm hãng sản xuất</button>
</div>
