<div class="product-by-type-outsize bg-light rounded pb-5" *ngFor="let productType of listProductType">
  <div class="bg-dark rounded-top mt-4">
    <h2 class="text-uppercase text-light px-3 py-2">{{productType.productTypeName}}</h2>
  </div>
  <div class="row justify-content-center mx-3">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let product of this.filterProduct(productType.productTypeId)" class="col-4">
        <!--start product item-->
        <div class="justify-content-center mt-2">
          <mat-card class="product-item mx-3" style="background-color: white">
            <mat-card-header>
              <mat-card-title style="height: 50px !important;">
                <a href="#" class="text-dark">{{product.productName}}</a>
              </mat-card-title>
              <mat-card-subtitle>
                <div class="d-flex">
                  <a href="#" class="text-danger fw-bolder">{{product.priceValue|currency:'VND':true}}</a>
                  <s class="mx-2 fw-light">{{product.priceValue |currency:'VND':true}}</s>
                </div>
                <div class="d-flex my-auto">
                  <span class="me-2">Đánh giá:</span>
                  <i class="fas fa-star my-auto text-warning"></i>
                  <i class="fas fa-star my-auto text-warning"></i>
                  <i class="fas fa-star my-auto text-warning"></i>
                  <i class="fas fa-star my-auto text-warning"></i>
                  <i class="fas fa-star my-auto"></i>
                </div>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="text-center">
              <a href="#">
                <img src="{{product.imageThumbnail?.Array_Img}}" width="95%" height="300px">
              </a>
            </mat-card-content>
            <mat-card-actions>
              <div class="row text-center px-2">
                <div class="col-4">
                  <img src="assets/image/product/icon1.png" width="35">
                  <p>Trả góp 0% thủ tục đơn giản</p>
                </div>
                <div class="col-4">
                  <img src="assets/image/product/icon2.png" width="35">
                  <p>Tặng mũ bảo hiểm 250.000đ</p>
                </div>
                <div class="col-4">
                  <img src="assets/image/product/icon3.png" width="35">
                  <p>Tăng thay dầu máy 3 lần</p>
                </div>
              </div>
            </mat-card-actions>
          </mat-card>
        </div>
        <!--end product item-->
      </ng-template>
    </owl-carousel-o>
    <div class="text-center mt-4">
      <button class="btn btn-dark px-5 py-2 readmore-btn">
        Xem tất cả
      </button>
    </div>
  </div>
</div>
