.group-btn-category button{
  background-color: var(--white);
  color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 30px;
  margin-left: 10px;
}
.line{
  border: 2px solid var(--main-color);
}
h3{
  color: var(--main-color) !important;
}
.product .col-3{
  width: 250px !important;
}
