<div class="d-flex">
  <div id="carouselExampleIndicators" class="carousel slide col-md-8" data-bs-ride="carousel">
    <!--    <div class="carousel-indicators">-->
    <!--      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>-->
    <!--      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>-->
    <!--      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
    <!--      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>-->
    <!--      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 3"></button>-->
    <!--      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 3"></button>-->
    <!--    </div>-->
    <div class="carousel-inner py-auto h-75">
      <div class="carousel-item active">
        <a href="#">
          <img src="assets/image/header/image1.png" class="d-block w-100 py-3" height="400" alt="...">
        </a>
      </div>
      <div class="carousel-item">
        <a href="#">
          <img src="assets/image/header/image2.jpg" class="d-block w-100 py-3" height="400" alt="...">
        </a>
      </div>
      <div class="carousel-item">
        <a href="#">
          <img src="assets/image/header/image3.jpg" class="d-block w-100 py-3" height="400" alt="...">
        </a>
      </div>
      <div class="carousel-item">
        <a href="#">
          <img src="assets/image/header/image4.jpg" class="d-block w-100 py-3" height="400" alt="...">
        </a>
      </div>
      <div class="carousel-item">
        <a href="#">
          <img src="assets/image/header/image5.jpg" class="d-block w-100 py-3" height="400" alt="...">
        </a>
      </div>
      <div class="carousel-item">
        <a href="#">
          <img src="assets/image/header/image6.jpg" class="d-block w-100 py-3" height="400" alt="...">
        </a>
      </div>
    </div>
    <button class="carousel-control-prev h-75" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
      <span class="carousel-control-prev-icon btn btn-dark" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next h-75" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
      <span class="carousel-control-next-icon btn btn-dark" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <div class="bg-light">
      <ul class="d-flex text-center list-unstyled">
        <li class="col-2" style="height: 50px">
          <button class="w-100 h-100" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                  aria-current="true" aria-label="Slide 1">1
          </button>
        </li>
        <li class="col-2">
          <button class="w-100 h-100" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                  aria-current="true" aria-label="Slide 1">2
          </button>
        </li>
        <li class="col-2">
          <button class="w-100 h-100" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                  aria-current="true" aria-label="Slide 1">3
          </button>
        </li>
        <li class="col-2">
          <button class="w-100 h-100" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                  aria-current="true" aria-label="Slide 1">4
          </button>
        </li>
        <li class="col-2">
          <button class="w-100 h-100" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                  aria-current="true" aria-label="Slide 1" class="w-100 h-100">5
          </button>
        </li>
        <li class="col-2">
          <button class="w-100 h-100" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                  aria-current="true" aria-label="Slide 1">6
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-4 justify-content-end px-3">
    <div class="row text-end">
      <a class="col-6" href="#">
        <img src="assets/image/header/image9.jpg" class="py-3 px-1" width="100%">
      </a>
      <a class="col-6" href="#">
        <img src="assets/image/header/image10.jpg" class="py-3 px-1" width="100%">
      </a>
      <a class="col-6" href="#">
        <img src="assets/image/header/image11.jpg" class="py-3 px-1" width="100%">
      </a>
      <a class="col-6" href="#">
        <img src="assets/image/header/image12.jpg" class="py-3 px-1" width="100%">
      </a>
    </div>
  </div>
</div>
<div class="rounded" style="background-color: black">
  <ul class="py-3 row">
    <li class="d-flex col-3">
      <div class="col-2">
        <img src="assets/image/header/image13.png">
      </div>
      <a href="#" class="my-auto mx-2 text-light text-decoration-none">Đổi hàng miễn phí trong 3 ngày</a>
    </li>
    <li class="d-flex col-3">
      <div class="col-2">
        <img src="assets/image/header/image14.png">
      </div>
      <a href="#" class="my-auto mx-2 text-light text-decoration-none">Cứu hộ tận nơi miễn phí trong bảo hành</a>
    </li>
    <li class="d-flex col-3">
      <div class="col-2">
        <img src="assets/image/header/image15.png">
      </div>
      <a href="#" class="my-auto mx-2 text-light text-decoration-none">Bảo hành giá đắt 200.000đ trả lại xe</a>
    </li>
    <li class="d-flex col-3">
      <div class="col-2">
        <img src="assets/image/header/image16.png">
      </div>
      <a href="#" class="my-auto mx-2 text-light text-decoration-none">Cam kết sản phẩm chính hãng 100%</a>
    </li>
  </ul>
</div>
