<div class="mt-5 bg-light">
  <div class = "border-bottom">
    <h4 class="py-4 ms-4">Sản phẩm cùng hãng</h4>
  </div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="w-100 product justify-content-center mt-2 px-3 py-3">
        <img src="assets/image/product/xe1.jpg" width="90%">
        <h6 class="mt-3">Xe Ga 50cc Vespa Dibao Pansy XS 2021</h6>
        <div class="d-flex">
          <h6 class="text-danger" style="font-size: 0.9rem">20.000.000 VNĐ</h6>
          <s class="ms-2" style="font-size: 0.8rem">24.000.000 VNĐ</s>
        </div>
      </div>
      <!--end product item-->
    </ng-template>
    <ng-template carouselSlide>
      <div class="w-100 product justify-content-center mt-2 px-3 py-3">
        <img src="assets/image/product/xe1.jpg" width="90%">
        <h6 class="mt-3">Xe Ga 50cc Vespa Dibao Pansy XS 2021</h6>
        <div class="d-flex">
          <h6 class="text-danger" style="font-size: 0.9rem">20.000.000 VNĐ</h6>
          <s class="ms-2" style="font-size: 0.8rem">24.000.000 VNĐ</s>
        </div>
      </div>
      <!--end product item-->
    </ng-template>
    <ng-template carouselSlide>
      <div class="w-100 product justify-content-center mt-2 px-3 py-3">
        <img src="assets/image/product/xe1.jpg" width="90%">
        <h6 class="mt-3">Xe Ga 50cc Vespa Dibao Pansy XS 2021</h6>
        <div class="d-flex">
          <h6 class="text-danger" style="font-size: 0.9rem">20.000.000 VNĐ</h6>
          <s class="ms-2" style="font-size: 0.8rem">24.000.000 VNĐ</s>
        </div>
      </div>
      <!--end product item-->
    </ng-template>
    <ng-template carouselSlide>
      <div class="w-100 product justify-content-center mt-2 px-3 py-3">
        <img src="assets/image/product/xe1.jpg" width="90%">
        <h6 class="mt-3">Xe Ga 50cc Vespa Dibao Pansy XS 2021</h6>
        <div class="d-flex">
          <h6 class="text-danger" style="font-size: 0.9rem">20.000.000 VNĐ</h6>
          <s class="ms-2" style="font-size: 0.8rem">24.000.000 VNĐ</s>
        </div>
      </div>
      <!--end product item-->
    </ng-template>
    <ng-template carouselSlide>
      <div class="w-100 product justify-content-center mt-2 px-3 py-3">
        <img src="assets/image/product/xe1.jpg" width="90%">
        <h6 class="mt-3">Xe Ga 50cc Vespa Dibao Pansy XS 2021</h6>
        <div class="d-flex">
          <h6 class="text-danger" style="font-size: 0.9rem">20.000.000 VNĐ</h6>
          <s class="ms-2" style="font-size: 0.8rem">24.000.000 VNĐ</s>
        </div>
      </div>
      <!--end product item-->
    </ng-template>
    <ng-template carouselSlide>
      <div class="w-100 product justify-content-center mt-2 px-3 py-3">
        <img src="assets/image/product/xe1.jpg" width="90%">
        <h6 class="mt-3">Xe Ga 50cc Vespa Dibao Pansy XS 2021</h6>
        <div class="d-flex">
          <h6 class="text-danger" style="font-size: 0.9rem">20.000.000 VNĐ</h6>
          <s class="ms-2" style="font-size: 0.8rem">24.000.000 VNĐ</s>
        </div>
      </div>
      <!--end product item-->
    </ng-template>
  </owl-carousel-o>
</div>
