<div class="mt-5">
  <div class = "">
    <h3 class="py-4">Sản phẩm tương tự</h3>
  </div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <app-card-product></app-card-product>
    </ng-template>
    <ng-template carouselSlide>
      <app-card-product></app-card-product>
    </ng-template>
    <ng-template carouselSlide>
      <app-card-product></app-card-product>
    </ng-template>
    <ng-template carouselSlide>
      <app-card-product></app-card-product>
    </ng-template>
    <ng-template carouselSlide>
      <app-card-product></app-card-product>
    </ng-template>
    <ng-template carouselSlide>
      <app-card-product></app-card-product>
    </ng-template>
  </owl-carousel-o>
</div>
