<div class="bg-light p-3">
  <div>
    <h3 class="fw-bold">Thông tin sản phẩm</h3>
    <hr>
  </div>
  <ng-container>
    <div class="row" id="form-create-product">
      <div class="col-12">
        <form class="form" [formGroup]="productForm">
          <div class="col-12 row">
            <div class="form-group col-12">
              <label class="form-label">Tên sản phẩm</label>
              <input type="text" class="form-control form-control-lg form-control-solid  is-invalid" name="productName"
                     placeholder="Tên sản phẩm" autocomplete="off" formControlName="productName"
                     [class.is-invalid]="isControlInvalid(productForm, 'productName')"
                     [class.is-valid]="isControlValid(productForm, 'productName')"/>
            </div>
          </div>
          <div class=" col-12 row">
            <div class="form-group col-6">
              <label class="form-label mt-2">Giá sản phẩm</label>
              <input type="text" class="form-control form-control-lg form-control-solid  is-invalid" name="priceOld"
                     placeholder="Giá sản phẩm" autocomplete="off" formControlName="priceOld"
                     [class.is-invalid]="isControlInvalid(productForm, 'priceOld')"
                     [class.is-valid]="isControlValid(productForm, 'priceOld')"/>
            </div>
            <div class="form-group col-6">
              <label class="form-label mt-2">Giá sản phẩm mới</label>
              <input type="text" class="form-control form-control-lg form-control-solid  is-invalid" name="priceNew"
                     placeholder="Giá sản phẩm mới" autocomplete="off" formControlName="priceNew"
                     [class.is-invalid]="isControlInvalid(productForm, 'priceNew')"
                     [class.is-valid]="isControlValid(productForm, 'priceNew')"/>
            </div>
          </div>
          <div class="col-12 row">
            <div class="form-group col-12">
              <label class="form-label mt-2">Mô tả sản phẩm</label>
              <ckeditor [editor]="Editor" [config]='config' formControlName="description" name="description"
                        placeholder="Mô tả sản phẩm"
                        [class.is-invalid]="isControlInvalid(productForm, 'description')"
                        [class.is-valid]="isControlValid(productForm, 'description')"
                        (ready)="onReady($event)"
              ></ckeditor>
            </div>
          </div>
          <div class="col-12 row">
            <div class="form-group col-6">
              <!--              <label class="form-label mt-2">Trạng thái</label>-->
              <!--              <input type="text" class="form-control form-control-lg form-control-solid  is-invalid" name="status"-->
              <!--                     placeholder="Trạng thái" autocomplete="off" formControlName="status"-->
              <!--                     [class.is-invalid]="isControlInvalid(productForm, 'status')"-->
              <!--                     [class.is-valid]="isControlValid(productForm, 'status')"/>-->
              <label class="form-label mt-2">Trạng thái</label>
              <select class="form-control form-control-lg form-control-solid" name="status"
                      formControlName="status"
                      [class.is-invalid]="isControlInvalid(productForm, 'status')"
                      [class.is-valid]="isControlValid(productForm, 'status')">
                <option value="Sale">Sale</option>
                <option value="Hot">Hot</option>
              </select>
            </div>
            <div class="form-group col-6">
              <label class="form-label mt-2">Số lượng sản phẩm</label>
              <input type="number" class="form-control form-control-lg form-control-solid  is-invalid" name="quantity"
                     placeholder="Số lượng sản phẩm" autocomplete="off" formControlName="quantity"
                     [class.is-invalid]="isControlInvalid(productForm, 'quantity')"
                     [class.is-valid]="isControlValid(productForm, 'quantity')"/>
            </div>
          </div>
          <div class="col-12 row">
            <div class="form-group col-6">
              <label class="form-label mt-2">Hãng sản xuất</label>
              <select class="form-control form-control-lg form-control-solid" name="productCategory"
                      formControlName="productCategory"
                      [class.is-invalid]="isControlInvalid(productForm, 'productCategory')"
                      [class.is-valid]="isControlValid(productForm, 'productCategory')">
                <option *ngFor="let productCategory of listProductCategory" [ngValue]="productCategory">
                  {{productCategory.productCategoryName}}
                </option>
              </select>
            </div>
            <div class="form-group col-6">
              <label class="form-label mt-2">Loại sản phẩm</label>
              <select class="form-control form-control-lg form-control-solid" name="productType"
                      formControlName="productType" [class.is-invalid]="isControlInvalid(productForm, 'productType')"
                      [class.is-valid]="isControlValid(productForm, 'productType')">
                <option *ngFor="let productType of listProductType" [ngValue]="productType">
                  {{productType.productTypeName}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-12 row">
            <div class="form-group col-12">
              <label class="form-label mt-2">Hình sản phẩm chính</label>
              <input type="file" class="form-control form-control-lg form-control-solid  is-invalid"
                     name="imageThumbnail"
                     placeholder="Hình sản phẩm chính" autocomplete="off" formControlName="imageThumbnailSource"
                     [class.is-invalid]="isControlInvalid(productForm, 'imageThumbnailSource')"
                     [class.is-valid]="isControlValid(productForm, 'imageThumbnailSource')"
                     (change)="onFileSelected($event, 'imageThumbnail')"/>
            </div>
          </div>
          <div class="col-12 row">
            <div class="form-group col-4">
              <label class="form-label mt-2">Hình ảnh sản phẩm 1</label>
              <input type="file" class="form-control form-control-lg form-control-solid  is-invalid" name="imageSource1"
                     placeholder="Hình sản phẩm chính" autocomplete="off" formControlName="imageSource1"
                     [class.is-invalid]="isControlInvalid(productForm, 'imageSource1')"
                     [class.is-valid]="isControlValid(productForm, 'imageSource1')"
                     (change)="onFileSelected($event, 'image1')"/>
            </div>
            <div class="form-group col-4">
              <label class="form-label mt-2">Hình ảnh sản phẩm 2</label>
              <input type="file" class="form-control form-control-lg form-control-solid  is-invalid" name="imageSource2"
                     placeholder="Hình sản phẩm chính" autocomplete="off" formControlName="imageSource2"
                     [class.is-invalid]="isControlInvalid(productForm, 'imageSource2')"
                     [class.is-valid]="isControlValid(productForm, 'imageSource2')"
                     (change)="onFileSelected($event, 'image2')"/>
            </div>
            <div class="form-group col-4">
              <label class="form-label mt-2">Hình ảnh sản phẩm 3</label>
              <input type="file" class="form-control form-control-lg form-control-solid  is-invalid" name="imageSource3"
                     placeholder="Hình sản phẩm chính" autocomplete="off" formControlName="imageSource3"
                     [class.is-invalid]="isControlInvalid(productForm, 'imageSource3')"
                     [class.is-valid]="isControlValid(productForm, 'imageSource3')"
                     (change)="onFileSelected($event, 'image3')"/>
            </div>
          </div>
          <div class="col-12 row">
            <div class="form-group col-4">
              <label class="form-label mt-2">Hình ảnh sản phẩm 4</label>
              <input type="file" class="form-control form-control-lg form-control-solid  is-invalid" name="imageSource4"
                     placeholder="Hình sản phẩm chính" autocomplete="off" formControlName="imageSource4"
                     [class.is-invalid]="isControlInvalid(productForm, 'imageSource4')"
                     [class.is-valid]="isControlValid(productForm, 'imageSource4')"
                     (change)="onFileSelected($event, 'image4')"/>
            </div>
            <div class="form-group col-4">
              <label class="form-label mt-2">Hình ảnh sản phẩm 5</label>
              <input type="file" class="form-control form-control-lg form-control-solid  is-invalid" name="imageSource5"
                     placeholder="Hình sản phẩm chính" autocomplete="off" formControlName="imageSource5"
                     [class.is-invalid]="isControlInvalid(productForm, 'imageSource5')"
                     [class.is-valid]="isControlValid(productForm, 'imageSource5')"
                     (change)="onFileSelected($event, 'image5')"/>
            </div>
            <div class="form-group col-4">
              <label class="form-label mt-2">Hình ảnh sản phẩm 6</label>
              <input type="file" class="form-control form-control-lg form-control-solid  is-invalid" name="imageSource6"
                     placeholder="Hình sản phẩm chính" autocomplete="off" formControlName="imageSource6"
                     [class.is-invalid]="isControlInvalid(productForm, 'imageSource6')"
                     [class.is-valid]="isControlValid(productForm, 'imageSource6')"
                     (change)="onFileSelected($event, 'image6')"/>
            </div>
          </div>
        </form>
        <div class="my-4 mx-4 d-flex justify-content-end">
          <button type="button" class="btn btn-primary btn-elevate px-5" (click)="changePageCreate(1)">
            Tiếp theo
          </button>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container>
    <div class="row" id="form-create-product-detail">
      <div class="col-12">
        <form class="form" [formGroup]="productDetailForm">
          <div class=" col-12 row">
            <div class="form-group col-6">
              <label class="form-label mt-2">Phanh</label>
              <input type="text" class="form-control form-control-lg form-control-solid  is-invalid" name="brake"
                     placeholder="Giá sản phẩm" autocomplete="off" formControlName="brake"
                     [class.is-invalid]="isControlInvalid(productDetailForm, 'brake')"
                     [class.is-valid]="isControlValid(productDetailForm, 'brake')"/>
            </div>
            <div class="form-group col-6">
              <label class="form-label mt-2">Vành</label>
              <input type="text" class="form-control form-control-lg form-control-solid  is-invalid" name="rim"
                     placeholder="Giá sản phẩm mới" autocomplete="off" formControlName="rim"
                     [class.is-invalid]="isControlInvalid(productDetailForm, 'rim')"
                     [class.is-valid]="isControlValid(productDetailForm, 'rim')"/>
            </div>
          </div>
          <div class=" col-12 row">
            <div class="form-group col-6">
              <label class="form-label mt-2">Ắc quy</label>
              <input type="text" class="form-control form-control-lg form-control-solid  is-invalid" name="battery"
                     placeholder="Giá sản phẩm mới" autocomplete="off" formControlName="battery"
                     [class.is-invalid]="isControlInvalid(productDetailForm, 'battery')"
                     [class.is-valid]="isControlValid(productDetailForm, 'battery')"/>
            </div>
            <div class="form-group col-6">
              <label class="form-label mt-2">Dung lượng</label>
              <input type="text" class="form-control form-control-lg form-control-solid  is-invalid" name="capacity"
                     placeholder="Giá sản phẩm" autocomplete="off" formControlName="capacity"
                     [class.is-invalid]="isControlInvalid(productDetailForm, 'capacity')"
                     [class.is-valid]="isControlValid(productDetailForm, 'capacity')"/>
            </div>
          </div>
          <div class=" col-12 row">
            <div class="form-group col-6">
              <label class="form-label mt-2">Công suất xe</label>
              <input type="text" class="form-control form-control-lg form-control-solid  is-invalid" name="power"
                     placeholder="Giá sản phẩm mới" autocomplete="off" formControlName="power"
                     [class.is-invalid]="isControlInvalid(productDetailForm, 'power')"
                     [class.is-valid]="isControlValid(productDetailForm, 'power')"/>
            </div>
            <div class="form-group col-6">
              <label class="form-label mt-2">Size xe</label>
              <input type="text" class="form-control form-control-lg form-control-solid  is-invalid" name="dimension"
                     placeholder="Giá sản phẩm mới" autocomplete="off" formControlName="dimension"
                     [class.is-invalid]="isControlInvalid(productDetailForm, 'dimension')"
                     [class.is-valid]="isControlValid(productDetailForm, 'dimension')"/>
            </div>
          </div>
          <div class=" col-12 row">
            <div class="form-group col-4">
              <label class="form-label mt-2">Quãng đường tối đa</label>
              <input type="text" class="form-control form-control-lg form-control-solid  is-invalid" name="range"
                     placeholder="Giá sản phẩm" autocomplete="off" formControlName="range"
                     [class.is-invalid]="isControlInvalid(productDetailForm, 'range')"
                     [class.is-valid]="isControlValid(productDetailForm, 'range')"/>
            </div>
            <div class="form-group col-4">
              <label class="form-label mt-2">Thời gian sạc</label>
              <input type="text" class="form-control form-control-lg form-control-solid  is-invalid" name="charging"
                     placeholder="Giá sản phẩm mới" autocomplete="off" formControlName="charging"
                     [class.is-invalid]="isControlInvalid(productDetailForm, 'charging')"
                     [class.is-valid]="isControlValid(productDetailForm, 'charging')"/>
            </div>
            <div class="form-group col-4">
              <label class="form-label mt-2">Trọng lượng</label>
              <input type="text" class="form-control form-control-lg form-control-solid  is-invalid" name="weight"
                     placeholder="Giá sản phẩm mới" autocomplete="off" formControlName="weight"
                     [class.is-invalid]="isControlInvalid(productDetailForm, 'weight')"
                     [class.is-valid]="isControlValid(productDetailForm, 'weight')"/>
            </div>
          </div>
        </form>
        <div class="my-4 mx-4 d-flex justify-content-end">
          <button type="button" class="btn btn-danger btn-elevate mr-1" (click)="changePageCreate(2)">
            Trở lại
          </button>&nbsp;
          <button type="button" class="btn btn-primary btn-elevate px-5" (click)="submit()">
            Lưu
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</div>


