<div class="container">
  <div class="mt-5">
    <app-breadcrumb></app-breadcrumb>
  </div>
  <div class="row">
    <div class="col-12 col-lg-9">
      <app-product-detail-content
        [productId]="productId"
        [productItem]="productItem"
      ></app-product-detail-content>
    </div>
    <div class="col-12 col-lg-3">
      <app-product-detail-right-side-bar
        [productItem]="productItem"
      ></app-product-detail-right-side-bar>
    </div>
  </div>
  <app-product-detail-by-category
    class="mt-5"
    [listProductByCategory]="listProductByCategory"
  ></app-product-detail-by-category>
</div>
