<div class="container p-0">
    <div>
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
              <div>
                <img class="px-2" src="../../../../../assets/image/free-exchange.png" alt="">
              </div>
            </ng-template>
            <ng-template carouselSlide>
                <div>
                  <img class="px-2" src="../../../../../assets/image/free-exchange.png" alt="">
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div>
                  <img class="px-2" src="../../../../../assets/image/free-exchange.png" alt="">
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div>
                  <img class="px-2" src="../../../../../assets/image/free-exchange.png" alt="">
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div>
                  <img class="px-2" src="../../../../../assets/image/free-exchange.png" alt="">
                </div>
              </ng-template>
          </owl-carousel-o>
    </div>
</div>