<aside class="sidebar shadow-sm pt-5 pt-md-0">
  <div class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
    <div class="picture-wrapper mb-4">
      <div class="user-picture m-auto">
        <img src="./assets/image/avatar/user.jpg" class="img-fluid" alt="">
      </div>
    </div>
    <div class="profile-details text-center pb-4">
      <p class="mb-0 text-uppercase name">User</p>
      <small class="text-uppercase role">Administrator</small>
    </div>
  </div>
  <nav class="sidebar-menu pt-3 pb-3 mx-3">
    <div class="menu-header mt-3 mb-2">
      Feature
    </div>
    <ul class="menu-items list-unstyled">
      <li >
        <a href="admin/dashboard" routerLinkActive="active">
          <i class="fas fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="">
        <a class="caret">
          <i class="fas fa-motorcycle"></i>
          <span class="ms-3">Product manage</span>
        </a>
        <ul class="nested ps-5">
          <li class="ps-2">
            <a class="caret p-0" routerLink="/admin/product-manage/summary"><span class="">Sản phẩm</span></a>
<!--            <ul class="nested ps-4">-->
<!--              <li class="mt-1" >-->
<!--                <a href="/admin/product-manage/create" class="px-1">Tạo sản phẩm</a>-->
<!--              </li>-->
<!--              <li class="mt-1">-->
<!--                <a class="px-1" href="/admin/product-manage/summary">Danh sách</a>-->
<!--              </li>-->
<!--            </ul>-->
          </li>
          <li class="ps-2">
            <a class="caret p-0" [routerLink]="['/admin/product-manage/summary-category']"><span>Hãng sản xuất</span></a>
<!--            <ul class="nested ps-4">-->
<!--              <li class="mt-1" >-->
<!--                <a href="/admin/product-manage/summary-category" class="px-1">Tạo hãng sản xuất</a>-->
<!--              </li>-->
<!--              <li class="mt-1">-->
<!--                <a class="px-1" href="/admin/product-manage/summary-category">Danh sách</a>-->
<!--              </li>-->
<!--            </ul>-->
          </li>
          <li class="ps-2">
            <a class="caret p-0" routerLink="/admin/product-manage/summary-product-type"><span class="">Loại sản phẩm</span></a>
<!--            <ul class="nested ps-4">-->
<!--              <li class="mt-1" >-->
<!--                <a href="/admin/product-manage/create-product-type" class="px-1">Tạo loại sản phẩm</a>-->
<!--              </li>-->
<!--              <li class="mt-1">-->
<!--                <a class="px-1" href="/admin/product-manage/summary-product-type">Danh sách</a>-->
<!--              </li>-->
<!--            </ul>-->
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="/admin/messenger">
          <i class="fas fa-truck"></i>
          <span>Hóa đơn</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/messenger">
          <i class="fas fa-sms"></i>
          <span>Messenger</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/messenger">
          <i class="fa fa-line-chart" aria-hidden="true"></i>
          <span>Thống kê</span>
        </a>
      </li>
    </ul>
    <div class="menu-header mt-4 mb-4">
      Other
    </div>
    <ul class="menu-items list-unstyled ">
      <li >
        <a routerLink="/home/me" routerLinkActive="active" >
          <i class="fas fa-user"></i>
          <span>Profile</span>
        </a>
      </li>
      <li>
        <a class="" (click)="logout()">
          <i class="fas fa-sign-out-alt"></i>
          <span>
            Logout
          </span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
