<aside class="sidebar shadow-sm pt-5 pt-md-0">
  <div class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
    <div class="picture-wrapper mb-4">
      <div class="user-picture m-auto">
        <img src="./assets/image/avatar/user.jpg" class="img-fluid" alt="">
      </div>
    </div>
    <div class="profile-details text-center pb-4">
      <p class="mb-0 text-uppercase name">User</p>
      <small class="text-uppercase role">Administrator</small>
    </div>
  </div>
  <nav class="sidebar-menu pt-3 pb-3 mx-3">
    <div class="menu-header mt-3 mb-2">
      Feature
    </div>
    <ul class="menu-items list-unstyled">
      <li >
        <a href="admin/dashboard" routerLinkActive="active">
          <i class="fas fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li >
        <a href="/admin/product-manage">
          <i class="fas fa-motorcycle"></i>
          <span>Product manage</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/messenger">
          <i class="fas fa-truck"></i>
          <span>Hóa đơn</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/messenger">
          <i class="fas fa-sms"></i>
          <span>Messenger</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/messenger">
          <i class="fa fa-line-chart" aria-hidden="true"></i>
          <span>Thống kê</span>
        </a>
      </li>
<!--      <li>-->
<!--        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">-->
<!--          &lt;!&ndash; This is the tree node template for leaf nodes &ndash;&gt;-->
<!--          <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>-->
<!--            &lt;!&ndash; use a disabled button to provide padding for tree leaf &ndash;&gt;-->
<!--            <div disabled><mat-icon>{{node.icon}}</mat-icon></div>-->
<!--            {{node.name}}-->
<!--          </mat-tree-node>-->
<!--          &lt;!&ndash; This is the tree node template for expandable nodes &ndash;&gt;-->
<!--          <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>-->
<!--            <div matTreeNodeToggle-->
<!--                    [attr.aria-label]="'Toggle ' + node.name">-->
<!--              <mat-icon>-->
<!--                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}-->
<!--              </mat-icon>-->
<!--            </div>-->
<!--            {{node.name}}-->
<!--          </mat-tree-node>-->
<!--        </mat-tree>-->
<!--      </li>-->
    </ul>
    <div class="menu-header mt-4 mb-4">
      Other
    </div>
    <ul class="menu-items list-unstyled ">
      <li >
        <a routerLink="/home/me" routerLinkActive="active" >
          <i class="fas fa-user"></i>
          <span>Profile</span>
        </a>
      </li>
      <li>
        <a class="">
          <i class="fas fa-sign-out-alt"></i>
          <span>
            Logout
          </span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
