<section class="page_404 h-100 align-items-center">
  <div class="container my-auto">
    <div class="row">
      <div class="col-sm-12 ">
        <div class="col-sm-10 col-md-12 col-sm-offset-1 text-center">
          <div class="four_zero_four_bg">
            <h1 class="text-center ">404</h1>
          </div>

          <div>
            <h1 class="h2">
              OOPS! NOTHING WAS FOUND
            </h1>
            <p style="font-size: 1.3rem; height: 100px" class="m-0">
              The page you are looking for might have been removed had its name changed or is temporarily unavailable.
              <a href="#">
                Return to homepage
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
