<div class="card m-0" style="width: 15rem;">
  <div class="sale p-2">
    <span class="fw-bold px-2">Sale 10%</span>
  </div>
  <img class="card-img-top" src="./assets/image/product/image-tgxhs/image-tgxhs/yadea-e3.jpg" alt="Card image cap">
  <div class="card-body">
    <h6 class="fw-bold mt-3">Xe máy điện DK ROMA SX</h6>
    <h6 class="fw-bold">23.000.000 đ</h6>
    <s>25.000.000 đ</s>
    <div class="d-flex justify-content-between align-items-center">
      <div class="ratings">
        <i class="fa fa-star rating-color"></i>
        <i class="fa fa-star rating-color ms-1"></i>
        <i class="fa fa-star rating-color ms-1"></i>
        <i class="fa fa-star rating-color ms-1"></i>
        <i class="fa fa-star ms-1"></i>
      </div>
    </div>
  </div>
</div>
