<menu class="py-2 m-0">
  <div class="container">
    <ul class="d-flex list-unstyled text-center my-auto">
      <li class="col-1">
        <i class="fas fa-home"></i>
      </li>
      <li class="col-1">
        <a href="#">
          Xe máy 50cc
        </a>
      </li>
      <li class="col-1">
        <a href="#">
          Xe ga 50cc
        </a>
      </li>
      <li class="col-1">
        <a href="#">
          Xe số 50cc
        </a>
      </li>
      <li class="col-1">
        <a href="#">
          Xe điện
        </a>
      </li>
      <li class="col-1">
        <a href="#">
          xe máy điện
        </a>
      </li>
      <li class="col-1">
        <a href="#">
          Xe đạp điện
        </a>
      </li>
      <li class="col-1">
        <a href="#">
          Xe 3 bánh
        </a>
      </li>
      <li class="col-1">
        <a href="#">
          Xe điện gấp
        </a>
      </li>
      <li class="col-1">
        <a href="#">
          Acquy xe điện
        </a>
      </li>
      <li class="col-1">
        <a href="#">
          Phụ kiện
        </a>
      </li>
      <li class="col-1">
        <a href="#">
          Tin tức
        </a>
      </li>
    </ul>
  </div>
</menu>
