<menu class="py-2 m-0">
  <div class="container">
      <ul class="d-flex m-0 p-0 list-unstyled text-center my-auto">
        <li class="m-0 p-0 col-3">
          <a href="/home"><img src="assets/image/logo-vuong-k-nen.PNG" width="150"></a>
        </li>
        <li class="m-0 p-0 my-auto col-1">
          <a href="/product" class="text-light">Sản phẩm</a>
        </li>
        <li class="m-0 p-0 my-auto col-1">
          <a href="/product/17" class="text-light">Khuyễn mãi</a>
        </li>
        <li class="m-0 p-0 my-auto col-1">
          <a href="#" class="text-light">Dịch vụ</a>
        </li>
        <li class="m-0 p-0 my-auto col-1">
          <a href="#" class="text-light">Cửa hàng</a>
        </li>
        <li class="m-0 p-0 my-auto col-1">
          <a href="#" class="text-light">Tin tức</a>
        </li>
        <li class="">
          <div class="container">
            <div class="form-group">
              <i class="fa fa-search form-control-icon"></i>
              <input type="text" class="form-control pe-5" placeholder="Tìm kiếm sản phẩm">
            </div>
          </div>
        </li>
        <li class="col-1 my-auto">
          <a href="/cart" class="text-light"><i class="fas fa-cart-arrow-down"></i></a>
        </li>
      </ul>
  </div>
</menu>
