ul li {
  color: var(--white);
  width: auto;
  margin-right: 20px;
}
.sticky{
  width: 100%;
  height: 45px;
  position: fixed;
  top: 0;
  z-index: 100;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown>.dropdown-toggle:active {
  pointer-events: none;
}
