<footer class="text-center text-lg-start bg-light text-muted mt-5">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
      <span></span>
    </div>
    <div>
      <a href="https://www.facebook.com/thaihoc.nguyen.5473/" class="me-4 text-reset">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-google"></i>
      </a>
      <a href="https://www.instagram.com/thaihoc2001/" class="me-4 text-reset">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="https://github.com/thaihoc2001" class="me-4 text-reset">
        <i class="fa fa-github"></i>
      </a>
    </div>
  </section>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <div class="text-center">
            <img src="assets/image/logo.svg" width="200" height="80">
          </div>
          <p class="mt-3">
            Một trong những hãng xe điện hàng đầu của Việt Nam, chúng tôi tự tin sẽ đáp ứng được như cầu của quý khách hàng
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            LIÊN HỆ
          </h6>
          <p><i class="fa fa-home me-3"></i> 287 Nguyễn Văn Trỗi - Quận Phú Nhuận - TP Hồ Chí Minh</p>
          <p>
            <i class="fa fa-envelope me-3"></i>
            thaihoc95x@gmail.com
          </p>
          <p><i class="fa fa-phone me-3"></i> + 094 222 xxxx</p>
          <p><i class="fa fa-print me-3"></i> + 094 444 xxxx</p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            CHÍNH SÁCH QUY ĐỊNH
          </h6>
          <p>
            <a class="text-reset text-decoration-none">Giấy Phép Kinh Doanh Xe Điện Tesla</a>
          </p>
          <p>
            <a class="text-reset text-decoration-none">Cứu hộ tận nơi miễn phí 100%</a>
          </p>
          <p>
            <a class="text-reset text-decoration-none">Chế độ bảo hành sản phẩm</a>
          </p>
          <p>
            <a class="text-reset text-decoration-none">Chính sách đổi trả hàng</a>
          </p>
          <p>
            <a class="text-reset text-decoration-none">Hướng dẫn sử dụng và Quy định bảo hành Acquy, Pin</a>
          </p>
          <p>
            <a class="text-reset text-decoration-none">Quy định thanh toán</a>
          </p>
        </div>
        <div class="col-md-5 col-lg-2 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            NHẬN KHUYỄN MÃI
          </h6>
          <p>
            Đăng Ký Nhận Bài Viết Mới Nhất Thông Qua Email
          </p>
          <div>
            <input class="form-control col-4 col-lg-12" placeholder="Email address !">
          </div>
          <div class="mt-3">
            <button class="btn btn-danger">ĐĂNG KÝ</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://thaihocblog.xyz/">xedientesla.com</a>
  </div>
</footer>
