<div class="product-sales rounded">
  <div class="bg-danger rounded-top">
    <h2 class="text-light px-3 py-2 text-uppercase">Các sản phẩm sale cực hot năm 2022</h2>
  </div>
  <div class="product mx-3 row justify-content-center">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="justify-content-center mt-2">
          <mat-card class="product-item mx-3" style="background-color: white">
            <mat-card-header>
              <mat-card-title>
                <a href="#" class="text-dark">Xe Ga 50cc Crea HSV3 Hyosung Đời Mới Nhất 2022</a>
              </mat-card-title>
              <mat-card-subtitle>
                <div class="d-flex">
                  <a href="#" class="text-danger fw-bolder">23.000.000 VNĐ</a>
                  <s class="mx-2 fw-light">24.000.000 VNĐ</s>
                </div>
                <div class="d-flex my-auto">
                  <span class="me-2">Đánh giá:</span>
                  <i class="fas fa-star my-auto text-warning"></i>
                  <i class="fas fa-star my-auto text-warning"></i>
                  <i class="fas fa-star my-auto text-warning"></i>
                  <i class="fas fa-star my-auto text-warning"></i>
                  <i class="fas fa-star my-auto"></i>
                </div>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="text-center">
              <a href="#">
                <img src="assets/image/product/xe1.jpg" width="95%">
              </a>
            </mat-card-content>
            <mat-card-actions>
              <div class="row text-center px-2">
                <div class="col-4">
                  <img src="assets/image/product/icon1.png" width="35">
                  <p>Trả góp 0% thủ tục đơn giản</p>
                </div>
                <div class="col-4">
                  <img src="assets/image/product/icon2.png" width="35">
                  <p>Tặng mũ bảo hiểm 250.000đ</p>
                </div>
                <div class="col-4">
                  <img src="assets/image/product/icon3.png" width="35">
                  <p>Tăng thay dầu máy 3 lần</p>
                </div>
              </div>
            </mat-card-actions>
          </mat-card>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="justify-content-center mt-2">
          <mat-card class="product-item mx-3" style="background-color: white">
            <mat-card-header>
              <mat-card-title>
                <a href="#" class="text-dark">Xe Ga 50cc Crea HSV3 Hyosung Đời Mới Nhất 2022</a>
              </mat-card-title>
              <mat-card-subtitle>
                <div class="d-flex">
                  <a href="#" class="text-danger fw-bolder">23.000.000 VNĐ</a>
                  <s class="mx-2 fw-light">24.000.000 VNĐ</s>
                </div>
                <div class="d-flex my-auto">
                  <span class="me-2">Đánh giá:</span>
                  <i class="fas fa-star my-auto text-warning"></i>
                  <i class="fas fa-star my-auto text-warning"></i>
                  <i class="fas fa-star my-auto text-warning"></i>
                  <i class="fas fa-star my-auto text-warning"></i>
                  <i class="fas fa-star my-auto"></i>
                </div>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="text-center">
              <a href="#">
                <img src="assets/image/product/xe1.jpg" width="95%">
              </a>
            </mat-card-content>
            <mat-card-actions>
              <div class="row text-center px-2">
                <div class="col-4">
                  <img src="assets/image/product/icon1.png" width="35">
                  <p>Trả góp 0% thủ tục đơn giản</p>
                </div>
                <div class="col-4">
                  <img src="assets/image/product/icon2.png" width="35">
                  <p>Tặng mũ bảo hiểm 250.000đ</p>
                </div>
                <div class="col-4">
                  <img src="assets/image/product/icon3.png" width="35">
                  <p>Tăng thay dầu máy 3 lần</p>
                </div>
              </div>
            </mat-card-actions>
          </mat-card>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="justify-content-center mt-2">
          <mat-card class="product-item mx-3" style="background-color: white">
            <mat-card-header>
              <mat-card-title>
                <a href="#" class="text-dark">Xe Ga 50cc Crea HSV3 Hyosung Đời Mới Nhất 2022</a>
              </mat-card-title>
              <mat-card-subtitle>
                <div class="d-flex">
                  <a href="#" class="text-danger fw-bolder">23.000.000 VNĐ</a>
                  <s class="mx-2 fw-light">24.000.000 VNĐ</s>
                </div>
                <div class="d-flex my-auto">
                  <span class="me-2">Đánh giá:</span>
                  <i class="fas fa-star my-auto text-warning"></i>
                  <i class="fas fa-star my-auto text-warning"></i>
                  <i class="fas fa-star my-auto text-warning"></i>
                  <i class="fas fa-star my-auto text-warning"></i>
                  <i class="fas fa-star my-auto"></i>
                </div>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="text-center">
              <a href="#">
                <img src="assets/image/product/xe1.jpg" width="95%">
              </a>
            </mat-card-content>
            <mat-card-actions>
              <div class="row text-center px-2">
                <div class="col-4">
                  <img src="assets/image/product/icon1.png" width="35">
                  <p>Trả góp 0% thủ tục đơn giản</p>
                </div>
                <div class="col-4">
                  <img src="assets/image/product/icon2.png" width="35">
                  <p>Tặng mũ bảo hiểm 250.000đ</p>
                </div>
                <div class="col-4">
                  <img src="assets/image/product/icon3.png" width="35">
                  <p>Tăng thay dầu máy 3 lần</p>
                </div>
              </div>
            </mat-card-actions>
          </mat-card>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="justify-content-center p-0">
          <mat-card class="product-item mx-3">
            <mat-card-header>
              <mat-card-title>Xe Ga 50cc Crea HSV3 Hyosung Đời Mới Nhất 2022</mat-card-title>
              <mat-card-subtitle>
                <div class="d-flex">
                  <p class="text-danger fw-bolder">23.000.000 VNĐ</p>
                  <s class="mx-2 fw-light">24.000.000 VNĐ</s>
                </div>
                <div class="d-flex my-auto">
                  <span class="me-2">Đánh giá:</span>
                  <i class="fas fa-star my-auto text-warning"></i>
                  <i class="fas fa-star my-auto text-warning"></i>
                  <i class="fas fa-star my-auto text-warning"></i>
                  <i class="fas fa-star my-auto text-warning"></i>
                  <i class="fas fa-star my-auto"></i>
                </div>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="text-center">
              <img src="assets/image/product/xe1.jpg" width="95% ">
            </mat-card-content>
            <mat-card-actions>
              <div class="row text-center px-2">
                <div class="col-4">
                  <img src="assets/image/product/icon1.png" width="35">
                  <p>Trả góp 0% thủ tục đơn giản</p>
                </div>
                <div class="col-4">
                  <img src="assets/image/product/icon2.png" width="35">
                  <p>Tặng mũ bảo hiểm 250.000đ</p>
                </div>
                <div class="col-4">
                  <img src="assets/image/product/icon3.png" width="35">
                  <p>Tăng thay dầu máy 3 lần</p>
                </div>
              </div>
            </mat-card-actions>
          </mat-card>
        </div>
      </ng-template>
    </owl-carousel-o>
<!--    <div class="col-4 justify-content-center p-0">-->
<!--      <mat-card class="product-item mx-3">-->
<!--        <mat-card-header>-->
<!--          <mat-card-title>Xe Ga 50cc Crea HSV3 Hyosung Đời Mới Nhất 2022</mat-card-title>-->
<!--          <mat-card-subtitle>-->
<!--            <div class="d-flex">-->
<!--              <p class="text-danger fw-bolder">23.000.000 VNĐ</p>-->
<!--              <s class="mx-2 fw-light">24.000.000 VNĐ</s>-->
<!--            </div>-->
<!--            <div class="d-flex my-auto">-->
<!--              <span class="me-2">Đánh giá:</span>-->
<!--              <i class="fas fa-star my-auto text-warning"></i>-->
<!--              <i class="fas fa-star my-auto text-warning"></i>-->
<!--              <i class="fas fa-star my-auto text-warning"></i>-->
<!--              <i class="fas fa-star my-auto text-warning"></i>-->
<!--              <i class="fas fa-star my-auto"></i>-->
<!--            </div>-->
<!--          </mat-card-subtitle>-->
<!--        </mat-card-header>-->
<!--        <mat-card-content class="text-center">-->
<!--          <img src="assets/image/product/xe1.jpg" width="95% ">-->
<!--        </mat-card-content>-->
<!--        <mat-card-actions>-->
<!--          <div class="row text-center px-2">-->
<!--            <div class="col-4">-->
<!--              <img src="assets/image/product/icon1.png" width="35">-->
<!--              <p>Trả góp 0% thủ tục đơn giản</p>-->
<!--            </div>-->
<!--            <div class="col-4">-->
<!--              <img src="assets/image/product/icon2.png" width="35">-->
<!--              <p>Tặng mũ bảo hiểm 250.000đ</p>-->
<!--            </div>-->
<!--            <div class="col-4">-->
<!--              <img src="assets/image/product/icon3.png" width="35">-->
<!--              <p>Tăng thay dầu máy 3 lần</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </mat-card-actions>-->
<!--      </mat-card>-->
<!--    </div>-->
<!--    <div class="col-4 justify-content-center p-0">-->
<!--      <mat-card class="product-item mx-3">-->
<!--        <mat-card-header>-->
<!--          <mat-card-title>Xe Ga 50cc Crea HSV3 Hyosung Đời Mới Nhất 2022</mat-card-title>-->
<!--          <mat-card-subtitle>-->
<!--            <div class="d-flex">-->
<!--              <p class="text-danger fw-bolder">23.000.000 VNĐ</p>-->
<!--              <s class="mx-2 fw-light">24.000.000 VNĐ</s>-->
<!--            </div>-->
<!--            <div class="d-flex my-auto">-->
<!--              <span class="me-2">Đánh giá:</span>-->
<!--              <i class="fas fa-star my-auto text-warning"></i>-->
<!--              <i class="fas fa-star my-auto text-warning"></i>-->
<!--              <i class="fas fa-star my-auto text-warning"></i>-->
<!--              <i class="fas fa-star my-auto text-warning"></i>-->
<!--              <i class="fas fa-star my-auto"></i>-->
<!--            </div>-->
<!--          </mat-card-subtitle>-->
<!--        </mat-card-header>-->
<!--        <mat-card-content class="text-center">-->
<!--          <img src="assets/image/product/xe1.jpg" width="95% ">-->
<!--        </mat-card-content>-->
<!--        <mat-card-actions>-->
<!--          <div class="row text-center px-2">-->
<!--            <div class="col-4">-->
<!--              <img src="assets/image/product/icon1.png" width="35">-->
<!--              <p>Trả góp 0% thủ tục đơn giản</p>-->
<!--            </div>-->
<!--            <div class="col-4">-->
<!--              <img src="assets/image/product/icon2.png" width="35">-->
<!--              <p>Tặng mũ bảo hiểm 250.000đ</p>-->
<!--            </div>-->
<!--            <div class="col-4">-->
<!--              <img src="assets/image/product/icon3.png" width="35">-->
<!--              <p>Tăng thay dầu máy 3 lần</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </mat-card-actions>-->
<!--      </mat-card>-->
<!--    </div>-->
<!--    <div class="col-4 justify-content-center p-0">-->
<!--      <mat-card class="product-item mx-3">-->
<!--        <mat-card-header>-->
<!--          <mat-card-title>Xe Ga 50cc Crea HSV3 Hyosung Đời Mới Nhất 2022</mat-card-title>-->
<!--          <mat-card-subtitle>-->
<!--            <div class="d-flex">-->
<!--              <p class="text-danger fw-bolder">23.000.000 VNĐ</p>-->
<!--              <s class="mx-2 fw-light">24.000.000 VNĐ</s>-->
<!--            </div>-->
<!--            <div class="d-flex my-auto">-->
<!--              <span class="me-2">Đánh giá:</span>-->
<!--              <i class="fas fa-star my-auto text-warning"></i>-->
<!--              <i class="fas fa-star my-auto text-warning"></i>-->
<!--              <i class="fas fa-star my-auto text-warning"></i>-->
<!--              <i class="fas fa-star my-auto text-warning"></i>-->
<!--              <i class="fas fa-star my-auto"></i>-->
<!--            </div>-->
<!--          </mat-card-subtitle>-->
<!--        </mat-card-header>-->
<!--        <mat-card-content class="text-center">-->
<!--          <img src="assets/image/product/xe1.jpg" width="95% ">-->
<!--        </mat-card-content>-->
<!--        <mat-card-actions>-->
<!--          <div class="row text-center px-2">-->
<!--            <div class="col-4">-->
<!--              <img src="assets/image/product/icon1.png" width="35">-->
<!--              <p>Trả góp 0% thủ tục đơn giản</p>-->
<!--            </div>-->
<!--            <div class="col-4">-->
<!--              <img src="assets/image/product/icon2.png" width="35">-->
<!--              <p>Tặng mũ bảo hiểm 250.000đ</p>-->
<!--            </div>-->
<!--            <div class="col-4">-->
<!--              <img src="assets/image/product/icon3.png" width="35">-->
<!--              <p>Tăng thay dầu máy 3 lần</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </mat-card-actions>-->
<!--      </mat-card>-->
<!--    </div>-->
<!--  </div>-->
  <div class="text-center pb-3">
    <button class="btn btn-danger px-5 py-2 readmore-btn">
      Xem tất cả
    </button>
  </div>
</div>
