/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700");

@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import './assets/lightning-admin.scss';

@import "../node_modules/bootstrap/dist/css/bootstrap.css";

:root {
  --main-color: #056042;
  --white: #ffffff;
  --black: #01160F;
  --gray-light: #CECECE;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
