.list-image-product{
  width: 100% !important;
  overflow-x: auto !important;
}
.list-image-product img{
  float: left !important;
}

::-webkit-scrollbar {
  height: 10px;
  width: 5px !important;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.promotion{
  border: 2px dashed black;
}
.btn{
  height: 50px;
}
.btn-add-cart{
  border: 1px solid black;
}
.commit{
  width: 80%;
  border: 1px solid gray;
  border-radius: 5px;
}
a i{
  font-size: 0.9rem;
  color: #337ab7;
}
a i:hover{
  text-decoration: underline;
}
