<div>
  <div class="row">
    <div class="col-4 mt-3 d-flex justify-content-center">
      <app-card-product></app-card-product>
    </div>
    <div class="col-4 mt-3 d-flex justify-content-center">
      <app-card-product></app-card-product>
    </div>
    <div class="col-4 mt-3 d-flex justify-content-center">
      <app-card-product></app-card-product>
    </div>
    <div class="col-4 mt-3 d-flex justify-content-center">
      <app-card-product></app-card-product>
    </div>
    <div class="col-4 mt-3 d-flex justify-content-center">
      <app-card-product></app-card-product>
    </div>
    <div class="col-4 mt-3 d-flex justify-content-center">
      <app-card-product></app-card-product>
    </div>
    <div class="col-4 mt-3 d-flex justify-content-center">
      <app-card-product></app-card-product>
    </div>
    <div class="col-4 mt-3 d-flex justify-content-center">
      <app-card-product></app-card-product>
    </div>
    <div class="col-4 mt-3 d-flex justify-content-center">
      <app-card-product></app-card-product>
    </div>

  </div>
  <div class="d-flex justify-content-center mt-5">
    <button class="col-3 fw-bold py-2">Xem thêm</button>
  </div>
</div>
