.list-product{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.name-product{
  font-size: 18px;
  color: black;
}
.name-product:hover{
  color: green;
}
.card-product{
  display: flex;
  margin: 10px 10px;
  width: calc(33.33% - 20px);
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}
.card-product:hover{
  transform: scale(1.05);
}
.image-product{
  width: 100%;
  height: 200px;
  flex-shrink: 0;
  padding: 20px 20px;
}
@media (max-width: 575.98px) {
  .card-product{
    width: 100%;
  }
  .image-product{
    height: 300px;
  }
}
@media (min-width: 576px) {
  .card-product{
    width: 100%;
  }
  .image-product{
    height: 300px;
  }
}
@media screen and (min-width: 768px) {
  .card-product{
    width: calc(50% - 20px);
  }
  .image-product{
    height: 200px;
  }
}
@media (min-width: 1200px) {
  .card-product{
    width: calc(33.33% - 20px);
  }
  .image-product{
    height: 200px;
  }
}
.price-product{
  display: flex;
  justify-content: flex-start;
}
.price-item{
  margin-right: 10px;
}
.card-footer-product{
  flex: 1;
  display: flex;
  justify-content: flex-start;
  margin: 0 -10px;
}
.card-content{
  margin: 10px 10px;
  flex: 1;
}
.card-body-product{
  display: flex;
  margin-top: auto;
  flex-direction: column;
}
.card-content{
  display: flex;
  flex-direction: column;
}
.item-footer{
  width: calc(33.33% - 20px);
  margin: 0 10px;
}
.btn-content{
  display: flex;
  padding-top: 10px;
  padding-left: 10px
}
//
.lds-spinner {
  color: red;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #337ab7;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

